@model IEnumerable<CitcWeb.Domain.BorrowHistory>

@{
    ViewBag.Title = "借閱紀錄";
}

<h2>借閱紀錄</h2>

<table class="table">
    <tr>
        <th>
            借閱人
        </th>
        <th>
            借閱時間
        </th>
        <th>
            歸還時間
        </th>
        <th>
            書名
        </th>
        <th>
            班隊名稱
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookInfo.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassInfo.ClassName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sn }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sn }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sn })
        </td>
    </tr>
}

</table>
