@model CitcWeb.Domain.StudentReport

@{
    ViewBag.Title = "編輯專題";
}

<h2>編輯專題</h2>

@using (Html.BeginForm("Edit","StudentReports",FormMethod.Post,new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Sn)

    <div class="form-group">
        姓名
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        學號
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        題目
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReportTitle, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.ReportTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        班隊名稱
        <div class="col-md-10">
            @Html.DropDownListFor(model=>model.ClassSn, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClassSn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        專題檔案
        <div class="col-md-10">
            @Html.HiddenFor(model => model.PdfPath)
           <label class="control-label col-md-2">選擇檔案</label>
            <div class="col-md-10">
                <input type="file" name="pdfFile">
            </div>
        </div>
    </div>

    <div class="form-group">
        簡報檔案
        <div class="col-md-10">
            @Html.HiddenFor(model => model.PptPath)
           <label class="control-label col-md-2">選擇檔案</label>
            <div class="col-md-10">
                <input type="file" name="pptFile">
            </div>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="編輯" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index",null,new { @class="btn btn-info"})
</div>

@section styles{

    <link href="~/Content/select2.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/select2select.js"></script>
}
