@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<CitcWeb.Domain.Course>

@{
    ViewBag.Title = "課程";
}

<h2 id="pageTitle">課程 <i id="titleIcon" class="fa fa-toggle-down"></i></h2>

<div id="searchDiv" class="jumbotron">
    @using (Html.BeginForm("Index", "Courses", FormMethod.Post))
    {
        <div class="form-inline">
            <span>課程名稱：</span> @Html.TextBox("courseName", null, new { @class = "form-control" })
            <input type="submit" value="搜尋" class="col- btn btn-primary offset-md-1" />
        </div>


    }
</div>

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-success" })
</p>

@Html.PagedListPager((IPagedList)Model,x=>Url.Action("Index",new { page=x,courseName=ViewBag.courseName}))
<table class="table">
    <tr>
        <th>
            課程名稱
        </th>
        <th>
            是否繼續開課
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsExist)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Sn } ,new {@class="btn btn-info"}) |
                @Html.ActionLink("刪除", "Delete", new { id=item.Sn },new { @class="btn btn-danger", onclick = "return confirm('確定要刪除嗎?');" })
            </td>
        </tr>
    }

</table>

@section styles{
    <link href="~/Content/searchPage.css" rel="stylesheet" />
    <link href="~/Content/table.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/searchPage.js"></script>
}
