@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<CitcWeb.Domain.ClassInfo>

@{
    ViewBag.Title = "班隊資訊";
}

<h2>班隊資訊</h2>

<p>
    @Html.ActionLink("新增", "Create",null, new { @class = "btn btn-success" })
</p>
@Html.PagedListPager((IPagedList)Model,x=>Url.Action("Index",new { page=x}))
<table class="table">
    <tr>
        <th>
            班隊名稱
        </th>
        <th>
            開訓日期
        </th>
        <th>
            結訓日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.Sn }, new { @class = "btn btn-info" } )
            @*@Html.ActionLink("刪除", "Delete", new { id=item.Sn },new { @class="btn btn-danger", onclick = "return confirm('確定要刪除嗎?');" })*@
        </td>
    </tr>
}

</table>
