@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<CitcWeb.Domain.ClassInfo>

@{
    ViewBag.Title = "班隊資訊";
}

<h2 id="pageTitle">班隊資訊 <i id="titleIcon" class="fa fa-toggle-down"></i></h2>

<div id="searchDiv" class="jumbotron">
    @using (Html.BeginForm("Index", "ClassInfo", FormMethod.Post))
    {
        <div class="form-inline">
            <span>班隊名稱：</span> @Html.TextBox("className", null, new { @class = "form-control" })
            <input type="submit" value="搜尋" class="col- btn btn-primary offset-md-1" />
        </div>
    }
</div>
<p>
    @Html.ActionLink("新增", "Create",null, new { @class = "btn btn-success" })
    <a href="~/CsvImoport/班隊匯入範例.csv" class="btn btn-dark">匯入範例CSV檔</a>
</p>
@Html.PagedListPager((IPagedList)Model,x=>Url.Action("Index",new { page=x,className=ViewBag.className}))
<table class="table">
    <tr>
        <th>
            班隊名稱
        </th>
        <th>
            開訓日期
        </th>
        <th>
            結訓日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="max-width:unset">
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td style="max-width:unset">
            @Html.ActionLink("課程維護", "Index","AnnualCourses", new { classSn = item.Sn }, new { @class = "btn btn-secondary" } )
            @Html.ActionLink("複製", "Copy", new { id = item.Sn }, new { @class = "btn btn-light btn-outline-dark", onclick = "return confirm('確定要複製嗎?');" } )
            @Html.ActionLink("編輯", "Edit", new { id = item.Sn }, new { @class = "btn btn-info" } )
            @Html.ActionLink("刪除", "Delete", new { id=item.Sn },new { @class="btn btn-danger", onclick = "return confirm('確定要刪除嗎?');" })
        </td>
    </tr>
}

</table>

@section styles{
    <link href="~/Content/searchPage.css" rel="stylesheet" />
    <link href="~/Content/table.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/searchPage.js"></script>
}
