@model IEnumerable<CitcWeb.Domain.ClassInfo>

@{
    ViewBag.Title = "班隊資訊";
}

<h2>班隊資訊</h2>

<p>
    @Html.ActionLink("新增", "Create",null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            班隊名稱
        </th>
        <th>
            開訓日期
        </th>
        <th>
            結訓日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sn }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sn }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sn })
        </td>
    </tr>
}

</table>
