@model CitcWeb.Domain.AnnualCourse

@{
    ViewBag.Title = "新增年度課程";
}

<h2>新增年度課程</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            課程名稱
            <div class="col-md-10">
                @Html.DropDownList("CourseSn", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseSn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            班隊名稱
            <div class="col-md-10">
                @Html.DropDownList("ClassSn", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClassSn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            總時數
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalHour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalHour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-info" })
</div>
@section styles{

    <link href="~/Content/select2.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/select2select.js"></script>
}
