@model CitcWeb.Domain.LifePicture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LifePicture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicturePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsValid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sn }) |
    @Html.ActionLink("Back to List", "Index")
</p>
