@model IEnumerable<CitcWeb.Domain.LifePicture>

@{
    ViewBag.Title = "生活花絮";
}

<h2>生活花絮管理</h2>

<p>
    @Html.ActionLink("新增", "Create",null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            檔名
        </th>
        <th>
            上傳時間
        </th>
        <th>
            是否顯示
        </th>
        <th>
            照片說明
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.PicturePath.Substring(7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsValid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureInfo)
        </td>
        <td>
            @Html.ActionLink("顯示切換", "ShowToggle", new { id = item.Sn }, new { @class = "btn btn-secondary"}) |
            @Html.ActionLink("刪除", "Delete", new { id=item.Sn },new { @class="btn btn-danger", onclick = "return confirm('確定要刪除嗎?');" })
        </td>
    </tr>
}

</table>
