@model IEnumerable<CitcWeb.Domain.LifePicture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PicturePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsValid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PicturePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsValid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sn }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sn }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sn })
        </td>
    </tr>
}

</table>
